@import url("fonts.css");
@import url("reset.css");


body {}

.wrapper {
	overflow: clip;
	min-height: 100%;
}


.transform {
	font-size: 0;
	padding: 100px 0;
}

.transform__container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 15px;
}

.transform__fon {
	width: 300px;
	height: 300px;
	background: black;
	display: inline-block;
	margin: 0px 30px 30px 0px;
	vertical-align: top;
}

.transform__fon:hover .transform__translate {
	transform: translate(20px, 20px);
}

.text {
	width: 300px;
	height: 300px;
	background: green;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 130px;
}

.transform__fon:hover .transform__scale {
	transform: scale(0.5);
}

.transform__fon:hover .transform__rotate {
	transform: rotate(45deg);
}

.transform__fon:hover .transform__skew {
	transform: skew(10deg, 15deg);
}

.transform__fon:hover .transform__matrix {
	transform: translate(20px, 20px) scale(0.5) rotate(45deg) skew(30deg);
}

.transform__fon:hover .transform__transform-origin {
	transform: rotate(-45deg);
	transform-origin: 0 0;
}

.transform__perspective {
	perspective: 300px;
	perspective-origin: center;
}

.transform__perspective:hover .transform__perspective-3d {
	transform: rotate3d(10, 10, 10, 45deg);
}

.transform__perspective:hover .transform__perspective-multi3D {
	transform: translate3d(10px, 10px, 10px) rotate3d(2, 1, 2, 20deg);
}

.main {
	padding: 250px;
	background-color: gray;
}

.car__container {
	max-width: 900px;
	margin: 0 auto;
	padding: 250px 0;
}

.carcase {
	position: relative;

}

.carcase__body {
	width: 650px;
	height: 150px;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	background-color: red;
	border-radius: 45% 10% 0% 0%;

}

.carcase__right-wheels,
.carcase__left-wheels {
	position: absolute;
	width: 130px;
	height: 130px;
	background: #fff;
	border: 8px solid black;
	border-radius: 50%;
	padding: 3px;
	z-index: 5;
}

.carcase__left-wheels {
	background: url(../img/main/wheel.webp) center / contain no-repeat;
	top: 270px;
	left: 195px;
}

.carcase__right-wheels {
	background: url(../img/main/wheel.webp) center / contain no-repeat;
	top: 270px;
	left: 620px;
}

.carcase__left-door,
.carcase__right-door {
	position: absolute;
	width: 150px;
	height: 147px;
	background-color: red;
	border: 1px solid #a5a5a5;
	transform: skew(-5deg);
	z-index: 4;
}

.carcase__left-door {
	top: 200px;
	left: 335px;
	border-radius: 0px 0 5px 0px;
}

.carcase__right-door {
	top: 200px;
	left: 490px;
	border-radius: 0px 0px 0px 5px;
}

.carcase__handle-right-door,
.carcase__handle-left-door {
	position: absolute;
	width: 35px;
	height: 10px;
	background-color: grey;
	border-radius: 30%;
	z-index: 5;
}

.carcase__handle-left-door {
	top: 215px;
	left: 435px;
}

.carcase__handle-right-door {
	top: 215px;
	left: 590px;
}


.carcase__left-detals,
.carcase__right-detals {
	position: absolute;
	width: 40px;
	height: 20px;
	background-color: rgb(49, 49, 49);
}

.carcase__left-detals {
	top: 331px;
	left: 124px;
	border-radius: 0px 0px 2px 5px;
}

.carcase__right-detals {
	top: 331px;
	left: 749px;
	width: 27px;
	border-radius: 0px 0px 5px 2px;
}

.carcase__center-detals {
	position: absolute;
	top: 349px;
	left: 311px;
	width: 313px;
	height: 5px;
	background-color: rgb(49, 49, 49);
}

.carcase__top {
	position: absolute;
	top: 90px;
	left: 303px;
	background-color: black;
	width: 400px;
	height: 121px;
	border-radius: 65% 50% 0% 0%;
}

.carcase__left-window-top,
.carcase__right-window-top {
	position: absolute;
	background-color: #929292;
	transform: skew(-5deg);
}

.carcase__left-window-top {
	top: 26px;
	left: 42px;
	width: 150px;
	height: 83px;
	border-radius: 100% 0% 0% 0%;
}

.carcase__right-window-top {
	top: 26px;
	left: 198px;
	width: 149px;
	height: 83px;
	border-radius: 0% 45% 0% 0%;
}

.carcase__detal-top {
	position: absolute;
	top: -14px;
	left: -101px;
	width: 150px;
	height: 149px;
	background-color: gray;
	transform: skewX(-50deg) rotate(346deg);
}


.carcase__left-headlights,
.carcase__right-headlights {
	position: absolute;
}

.carcase__left-headlights {
	top: 238px;
	left: 125px;
	width: 30px;
	height: 25px;
	background-color: aquamarine;
	border-radius: 100% 0% 50% 0%;
	border-right: 3px solid grey;
	border-bottom: 3px solid grey;
}

.carcase__right-headlights {
	top: 202px;
	left: 746px;
	width: 30px;
	height: 25px;
	background-color: aquamarine;
	border-radius: 0% 100% 47% 50%;
	border-left: 2px solid grey;
	border-bottom: 2px solid grey;
}

.carcase__light-left-headlights {
	width: 30px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0px;
	background-color: white;
	border-radius: 100% 0% 50% 0%;
	border-right: 3px solid grey;
	border-bottom: 3px solid grey;
	visibility: hidden;
}

.carcase__light-right-headlights {
	position: absolute;
	top: 0px;
	left: -2px;
	width: 30px;
	height: 25px;
	background-color: rgb(187, 8, 8);
	border-radius: 0% 100% 47% 50%;
	border-left: 2px solid grey;
	border-bottom: 2px solid grey;
	visibility: hidden;
}

.carcase:hover .carcase__light-left-headlights {
	visibility: visible;
}

.carcase:hover .carcase__light-right-headlights {
	visibility: visible;
}