@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");

@font-face {
	font-family: "Core Sans C";
	src: url("../fonts/CoreSansC-75ExtraBoldIt.woff2") format("wolff2"),
		url("../fonts/CoreSansC-75ExtraBoldIt.woff") format("wolff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}